.mainsite{
    background-image: url("images/akan bg.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    min-height: 100%;
    margin:0;
    padding:0;
}
h1{
    text-shadow: #E4E4E4;
}
.image1{
    position: absolute;
    top: 100px;
    left: 103px;
}
.text1{
    position: absolute;
    top: 50px;
    left: 900px;
    font-family: Onyx;
    font-size: 50px;
    color: white;
}
.text2{
    color: white;
    font-family: "Segoe UI";
    font-size: 30px;
    position: absolute;
    letter-spacing: 1px;
    top: 200px;
    left: 700px;
    text-align: right;
}
.btn1{
    height: 70px;
    width: 210px;
    border-radius: 50px;
    border: none;
    background-color: white;
    padding-bottom: 10px;
    color: #FD5101;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}
.btn1div{
    position: absolute;
    left: 1250px;
    top: 500px;
}
.divider{
    background-color: white;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    opacity: 90%;
}
.form1{
    position: absolute;
    top: 130px;
    left: 600px;
    height: auto;
    width: 400px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: white;
    color: #FD5101;
    border-radius: 30px;

}
input{
    height: 40px;
    width: 93%;
    padding-top: 5px;
    border-radius: 50px;
    border-color: #FD5101;
    border-width: 4px;
    padding-left: 20px;

}
select{
    height: 50px;
    width: 100%;
    border-radius: 50px;
    border-color: #FD5101;
    border-width: 4px;
    padding-left: 20px;
    font-size: 20px;
}

label{
    font-size: 25px;
    font-family: "Segoe UI";
}
.date{
    font-size: 20px;
}
.year{
    font-size: 20px;
}
.btn2{
    height: 50px;
    width: 100%;
    border: none;
    color: white;
    font-family: "Segoe UI";
    font-size: 22px;
    padding-bottom: 5px;
    background-color: #FD5101;
}

.form3{
    position: absolute;
    top: 770px;
    left: 600px;
    height: auto;
    width: 400px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: white;
    color: #FD5101;
    border-radius: 30px;

}

.divider2{
    background-color: white;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 90%;
    opacity: 100%;
}

html{
    scroll-behavior: smooth;
}

.btn4{
    background-image: url("images/icontop.png");
    width: 75px;
    height: 41px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    left: 48%;
    top: 93%;

}
